<div class="sidebar">
    <div class="sidebar-top">
        <!-- Balance -->
        <img src="assets/img/metrix-logo.png" alt="Metrix" class="logo" />
        <!-- Balance -->
        <h3>{{ 'MISC.BALANCE' | translate | uppercase }}</h3>
        <span>
            {{currencyService.convert(wallet.balance) | prettyCoins: 4 }}
            <span class="balance-currency">{{currencyService.currency}}</span>
        </span>
        <network-type></network-type>
        <!-- Menu -->
        <ul routerLinkActive="active">
            <li>
                <a routerLink="/metrix" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <fa-icon icon="columns"></fa-icon> {{ 'COMPONENTS.SIDEBAR.DASHBOARD' | translate }}
                </a>
            </li>
            <li>
                <a routerLink="/metrix/send" routerLinkActive="active">
                    <fa-icon icon="wallet"></fa-icon> {{ 'COMPONENTS.SIDEBAR.SEND' | translate }}
                </a>
            </li>
            <li>
                <a routerLink="/metrix/transactions" routerLinkActive="active">
                    <fa-icon icon="receipt"></fa-icon> {{ 'COMPONENTS.SIDEBAR.TRANSACTIONS' | translate }}
                </a>
            </li>
            <li>
                <a routerLink="/metrix/staking" routerLinkActive="active">
                    <fa-icon icon="coins"></fa-icon> {{ 'COMPONENTS.SIDEBAR.STAKING' | translate }}
                </a>
            </li>
            <li>
                <a routerLink="/metrix/explorer/-1" routerLinkActive="active">
                    <fa-icon icon="link"></fa-icon> {{ 'COMPONENTS.SIDEBAR.EXPLORER' | translate }}
                </a>
            </li>
        </ul>
    </div>

    <sync-status></sync-status>

</div>