
<div class="transaction" style="width: 100%;height: 92px;" title="{{trx.type}} confirmations">
  <div class="progress confirmed">
  </div>
  <div class="icon">
    @if (trx.type=='Deposit') {
      <fa-icon class="success"
      icon="sign-in-alt"></fa-icon>
    }
    @if (trx.type=='Swap') {
      <fa-icon class="primary" icon="exchange-alt"></fa-icon>
    }
  </div>
  <div class="detail">
    <h5>{{trx.type}}</h5>
    <h6>{{trx.date | date:'MMM d, h:mm a'}}</h6>
    <h5><button class="btn btn-link primary" (click)="openLink(trx.link)">{{trx.txid}}</button></h5>
  </div>
  <div class="value">
    @if (trx.price) {
      <div class="amount success" >
        {{trx.amount}} MRX
      </div>
    }
    @if (trx.price) {
      <div class="amount success" >
        {{'BUY.PAGES.HISTORY.AVGSWAPPRICE' | translate }}: {{trx.price.toFixed(12)}} BTC
      </div>
    }
    @if (!trx.price) {
      <div class="amount success" >
        {{trx.amount}} BTC
      </div>
    }
  </div>
</div>