.buy-container {
    display: flex;
    flex-direction: column;
}

.content-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;

    h5 {
        margin: 5px;
    }

    p {
        font-size: .9em;
    }
}

fa-icon {
    margin-bottom: 10px
}