<!-- Enter passphrase modal -->
<ngx-smart-modal identifier="passphraseModal" customClass="nsm-centered" [closable]="false">
  <form (submit)="passphraseModal.buttonDone()">
    <h1>{{ 'COMPONENTS.PROMPT.ENTERPASSPHRASETITLE' | translate }}</h1>
    <input name="passphrase" type="password" #passphrase [(ngModel)]="passphraseModal.passphrase" required>

    <div *ngIf="passphraseModal.showStakingOnly">
      <input name="stakingOnly" id="chkStaking" [(ngModel)]="passphraseModal.stakingOnly" type='checkbox' />
      <label for="chkStaking">{{ 'COMPONENTS.PROMPT.UNLOCKSTAKINGONLY' | translate }}</label>
    </div>

    <div class="modal-buttons">
      <button type="button" class="btn btn-default" (click)="passphraseModal.buttonCancel()">
        {{ 'MISC.CANCELBUTTON' | translate }}
      </button>
      <button type="submit" class="btn btn-default">
        {{ 'MISC.DONEBUTTON' | translate}}
      </button>
    </div>
  </form>
</ngx-smart-modal>

<!-- Client update available modal -->
<ngx-smart-modal identifier="clientUpdateModal" customClass="nsm-centered" [closable]="false" [escapable]="false"
  [dismissable]="false">
  <h1>{{ 'COMPONENTS.PROMPT.CLIENTUPDATETITLE' | translate }}</h1>
  <span>{{ 'COMPONENTS.PROMPT.CLIENTUPDATEINFO' | translate }}</span>
  <div class="modal-buttons">
    <div>
      <button class="btn btn-default" (click)="clientUpdateModal.buttonCancel(false)">
        {{ 'COMPONENTS.PROMPT.CLIENTUPDATECANCELBUTTON' | translate }}
      </button>
      <button *ngIf="clientUpdateModal.showSkip" class="btn btn-default" (click)="clientUpdateModal.buttonCancel(true)">
        {{ 'COMPONENTS.PROMPT.CLIENTUPDATESKIPBUTTON' | translate }}
      </button>
    </div>
    <button class="btn btn-default" (click)="clientUpdateModal.buttonDone()">
      {{ 'COMPONENTS.PROMPT.CLIENTUPDATEBUTTON' | translate}}
    </button>
  </div>
</ngx-smart-modal>

<!-- Wallet update available modal -->
<ngx-smart-modal identifier="walletUpdateModal" customClass="nsm-centered" [closable]="false" [escapable]="false"
  [dismissable]="false">
  <h1>{{ 'COMPONENTS.PROMPT.WALLETUPDATETITLE' | translate }}</h1>
  <span>{{ 'COMPONENTS.PROMPT.WALLETUPDATEINFO' | translate }}</span>
  <div class="modal-buttons">
    <div>
      <button class="btn btn-default" (click)="walletUpdateModal.buttonCancel(false)">
        {{ 'COMPONENTS.PROMPT.CLIENTUPDATECANCELBUTTON' | translate }}
      </button>
      <button *ngIf="walletUpdateModal.showSkip" class="btn btn-default" (click)="walletUpdateModal.buttonCancel(true)">
        {{ 'COMPONENTS.PROMPT.CLIENTUPDATESKIPBUTTON' | translate }}
      </button>
    </div>
    <button class="btn btn-default" (click)="walletUpdateModal.buttonDone()">
      {{ 'COMPONENTS.PROMPT.CLIENTUPDATEBUTTON' | translate}}
    </button>
  </div>
</ngx-smart-modal>

<!-- Change passphrase modal -->
<ngx-smart-modal identifier="changePassphraseModal" customClass="nsm-centered" [closable]="false">
  <form (submit)="changePassphraseModal.buttonDone()">
    <h1>{{ 'COMPONENTS.PROMPT.CHANGEPASSPHRASETITLE' | translate }}</h1>

    <input type="password" name="currentPassphrase" [(ngModel)]="changePassphraseModal.currentPassphrase"
      [placeholder]="'COMPONENTS.PROMPT.CHANGEPASSPHRASE_CURRENT' | translate">
    <input type="password" name="newPassphrase" [(ngModel)]="changePassphraseModal.newPassphrase"
      [placeholder]="'COMPONENTS.PROMPT.NEWPASSPHRASE' | translate">
    <input type="password" name="confPassphrase" [(ngModel)]="changePassphraseModal.confPassphrase"
      [placeholder]="'COMPONENTS.PROMPT.CONFPASSPHRASE' | translate">

    <div class="modal-buttons">
      <button type="button" class="btn btn-default" (click)="changePassphraseModal.buttonCancel()">
        {{ 'MISC.CANCELBUTTON' | translate }}
      </button>
      <button type="submit" class="btn btn-default">
        {{'COMPONENTS.PROMPT.CHANGEPASSPHRASEBUTTON' | translate}}
      </button>
    </div>
  </form>
</ngx-smart-modal>

<!-- Encrypt wallet modal -->
<ngx-smart-modal identifier="encryptModal" customClass="nsm-centered" [closable]="false">
  <form (submit)="encryptModal.buttonDone()">
    <h1>{{ 'COMPONENTS.PROMPT.ENCRYPTTITLE' | translate }}</h1>

    <input type="password" name="newPassphrase" [(ngModel)]="encryptModal.newPassphrase"
      [placeholder]="'COMPONENTS.PROMPT.NEWPASSPHRASE' | translate">
    <input type="password" name="confPassphrase" [(ngModel)]="encryptModal.confPassphrase"
      [placeholder]="'COMPONENTS.PROMPT.CONFPASSPHRASE' | translate">

    <div class="modal-buttons">
      <button type="button" class="btn btn-default" (click)="encryptModal.buttonCancel()">
        {{ 'MISC.CANCELBUTTON' | translate }}
      </button>
      <button type="submit" class="btn btn-default">
        {{'COMPONENTS.PROMPT.ENCRYPTBUTTON' | translate}}
      </button>
    </div>
  </form>
</ngx-smart-modal>

<!-- Alert modal -->
<ngx-smart-modal identifier="alertModal" customClass="nsm-centered alert-modal" [closable]="false" [escapable]="false"
  [dismissable]="false">
  <h1>{{ alertModal.title | translate }}</h1>

  <p>
    {{ alertModal.content | translate }}
    <span *ngIf="alertModal.extraContent">{{alertModal.extraContent}}</span>
  </p>

  <div class="modal-buttons">
    <button class="btn btn-default" (click)="alertModal.buttonCancel()" *ngIf="alertModal.cancelButtonContent">
      {{ alertModal.cancelButtonContent | translate }}
    </button>
    <button class="btn btn-default right" (click)="alertModal.buttonDone()" *ngIf="alertModal.doneButtonContent">
      {{ alertModal.doneButtonContent | translate }}
    </button>
  </div>
</ngx-smart-modal>
