<div class="appbar">

    <a class="app" routerLink="/metrix" routerLinkActive="active">
        <img src="assets/img/metrix-logo.png" alt="Metrix" class="logo" title="Metrix" />
    </a>

    <a class="app" routerLink="/dgp" routerLinkActive="active">
        <img src="assets/img/dgp-logo.png" alt="DGP" class="logo" title="Governance & Budget" />
    </a>

    <a class="app" routerLink="/browser" routerLinkActive="active">
        <fa-icon icon="globe" class="logo" title="Browser"></fa-icon>
    </a>

    <a class="app" routerLink="/token" routerLinkActive="active">
        <fa-icon icon="coins" class="logo" title="Tokens"></fa-icon>
    </a>

    <!-- Disable Buy Metrix -->
    <!-- <a class="app" routerLink="/buy" routerLinkActive="active">
        <img src="assets/img/buy-logo.png" alt="Buy" class="logo" title="Buy Metrix"/>
    </a> -->

</div>