<div class="content">

  <div class="tabs">
    <button (click)="tab=0" [ngClass]="{'active':tab==0}">
      {{'PAGES.HELP.ABOUTCORETAB' | translate}}
    </button>
    <button (click)="tab=1" [ngClass]="{'active':tab==1}">
      {{'PAGES.HELP.ABOUTALTITUDETAB' | translate}}
    </button>
  </div>

  @if (tab==0) {
    <div class="tab-content">
      <h4>{{ 'PAGES.TOOLS.ABOUT.COREVERSION' | translate }}: {{wallet.networkInfo.version}}</h4>
      <p innerHTML="{{'PAGES.HELP.ABOUTCORE' | translate}}"> </p>
    </div>
  }

  @if (tab==1) {
    <div class="tab-content">
      <h4>{{ 'PAGES.TOOLS.ABOUT.ALTITUDEVERSION' | translate }}: {{electron.remote.app.getVersion()}}</h4>
      <p innerHTML="{{'PAGES.HELP.ABOUTALTITUDE' | translate}}"> </p>
    </div>
  }

</div>