.content-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;

    .card-body {
        width: 100%;
    }

    .card-img {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;

        img {
            height: 100px;
        }
    }


    .card-inner {
        padding: 1.25rem;

        .card-title {
            margin-bottom: .75rem;
            margin-top: 0;
        }

        .card-text {
            margin-top: 0;
            margin-bottom: 1rem;
        }

        .card-link {
            font-size: 0.8rem;
            cursor: pointer;
            text-decoration: underline;
        }
    }

}

progress {
    display: block;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}