<div class="content" *ngIf="account" #scrollingBlock>

  <div class="tabs">
    <button (click)="changeTab(0)" [ngClass]="{'active':tab==0}">
      {{'PAGES.MANAGEACCOUNT.OVERVIEWTAB' | translate}}
    </button>
    <button (click)="changeTab(1)" [ngClass]="{'active':tab==1}">
      {{'PAGES.MANAGEACCOUNT.TRANSACTIONSTAB' | translate}}
    </button>
    <button (click)="changeTab(2)" [ngClass]="{'active':tab==2}">
      {{'PAGES.MANAGEACCOUNT.ADDRESSTABS' | translate}}
    </button>
  </div>

  <!-- Overview -->
  <div class="tab-content" *ngIf="tab==0">
    <div class="manage-account-wrapper">

      <div class="account-identicon">
        <canvas identicon-canvas width="100" height="100" title='{{account.identicon}}'></canvas>
      </div>

      <div>
        <div class="account-name">
          <fa-icon icon="wallet"></fa-icon>
          <text-input class="form-control" (change)="renameAccount()"
            [(inputModel)]="this.account.mainAddress.newAccount"
            placeholder="{{ 'MISC.ENTERACCOUNTLABEL' | translate }}"></text-input>
        </div>
        <h2>
          {{helpers.prettyCoins(account.balance)}}
          <span>Metrix</span>
        </h2>
        <h4>
          {{account.address}}
          <button class="btn btn-icon" (click)="copyAddress()">
            <fa-icon icon="copy"></fa-icon>
          </button>
        </h4>
      </div>

    </div>

    <div class="qrcode-wrapper">
      <div id="qrcode"></div>
    </div>
  </div>

  <!-- Transactions -->
  <div class="tab-content" *ngIf="tab==1">

    <virtual-scroller #scroll class="transactions" [items]="transactions" [parentScroll]="scrollingBlock"
      (vsEnd)="fetchMoreTransactions($event)">
      <transaction-row *ngFor="let trx of scroll.viewPortItems" [trx]="trx"></transaction-row>
    </virtual-scroller>

  </div>

  <!-- Addresses -->
  <div class="tab-content" *ngIf="tab==2">
    <virtual-scroller #scroll class="transactions" [items]="account.addresses" [parentScroll]="scrollingBlock">
      <div class="transaction confirmed" *ngFor="let addr of scroll.viewPortItems" style="width: 100%;height: 40px;">
        <div class="icon">
          <fa-icon class="success" icon="wallet"></fa-icon>
        </div>
        <div class="detail">
          <h5>{{addr.address}} {{addr.account?'(' + addr.account + ')':''}}</h5>
          <h5>{{addr.confirmations}}</h5>
        </div>
        <div class="value">
          <div class="amount">
            {{helpers.prettyCoins(addr.balance)}} Metrix
          </div>
        </div>
      </div>
    </virtual-scroller>
  </div>

</div>