<div class="content">

  @if (wallet.walletInfo.errors) {
    <div class="alerts">
      <h1>Alert</h1>
      {{wallet.walletInfo.errors}}
    </div>
  }

  <div class="layout-outer">

    <div class="layout-lhs">

      <market-price-chart></market-price-chart>

      <div class="content-card" style="margin: 10px 0;">
        <h1>{{ 'PAGES.DASHBOARD.TRANSACTIONS' | translate }}</h1>
        <div class="transactions">
          @for (trx of displayTransactions(); track trx) {
            <transaction-row [trx]="trx"></transaction-row>
          }
        </div>
      </div>

    </div>

    <metrix-accounts></metrix-accounts>

  </div>

</div>