<div class="sidebar">
    <div class="sidebar-top">
        <!-- Balance -->
        <img src="assets/img/buy-logo.png" alt="BUY" class="logo" />
        <!-- Balance -->
        <div style="text-align: left;">
            <h3>{{ 'MISC.BALANCE' | translate | uppercase }}</h3>
            <span>
                {{currencyService.convert(wallet.balance) | prettyCoins: 4 }}
                <span class="balance-currency">{{currencyService.currency}}</span>
            </span>
            <div class="balance-currency" style="padding-top: 1em;">
                <span>{{ 'MISC.SPENDABLEBALANCE' | translate | uppercase }}</span><br>
                <span>
                    {{currencyService.convert(wallet.spendableBalance) | prettyCoins: 4 }}
                    <span class="balance-currency">{{currencyService.currency}}</span>
                </span>
            </div>
            <div class="balance-currency">
                <span>{{ 'MISC.PENDINGBALANCE' | translate | uppercase }}</span><br>
                <span>
                    {{currencyService.convert(wallet.pendingBalance) | prettyCoins: 4 }}
                    <span class="balance-currency">{{currencyService.currency}}</span>
                </span>
            </div>
        </div>
        <network-type></network-type>
        <!-- Menu -->
        <ul routerLinkActive="active">
            <li>
                <a routerLink="/buy" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <fa-icon icon="exchange-alt"></fa-icon> {{ 'BUY.COMPONENTS.SIDEBAR.SWAP' | translate }}
                </a>
            </li>
            <li>
                <a routerLink="/buy/history" routerLinkActive="active">
                    <fa-icon icon="receipt"></fa-icon> {{ 'BUY.COMPONENTS.SIDEBAR.SEARCH' | translate }}
                </a>
            </li>
        </ul>
    </div>

    <sync-status></sync-status>
    
</div>