<div class="wallet-sync">
  <span>
    <fa-icon icon="wifi"></fa-icon>
    @if (!wallet.running) {
      <span>{{ 'COMPONENTS.SIDEBAR.SYNC.CONNECTING' | translate }}...</span>
    }
    @if (wallet.running && !wallet.networkInfo.connections) {
      <span>
        {{ 'COMPONENTS.SIDEBAR.SYNC.NOPEERS' | translate }}...
      </span>
    }
    @if (wallet.running && wallet.networkInfo.connections) {
      <span>{{wallet.networkInfo.connections}}
        {{'COMPONENTS.SIDEBAR.SYNC.PEERS' | translate }}
      </span>
    }
  </span>
  <span>
    <fa-icon icon="layer-group"></fa-icon>
    @if (!wallet.running) {
      <span>{{ 'COMPONENTS.SIDEBAR.SYNC.CONNECTING' | translate }}...</span>
    }
    @if (wallet.running && !wallet.blockchainStatus.latestBlockHeight) {
      <span>
        {{ 'COMPONENTS.SIDEBAR.SYNC.NOBLOCKS' | translate }}...
      </span>
    }
    @if (wallet.running && wallet.blockchainStatus.latestBlockHeight) {
      <span>
        {{ wallet.blockchainStatus.latestBlockHeight | prettyCoins }} {{ 'COMPONENTS.SIDEBAR.SYNC.BLOCKS' |
        translate }}
      </span>
    }
  </span>
  <span>
    <fa-icon icon="clock"></fa-icon>
    @if (!wallet.running) {
      <span>{{ 'COMPONENTS.SIDEBAR.SYNC.CONNECTING' | translate }}...</span>
    }
    <!-- no blocks -->
    @if (wallet.running && !wallet.blockchainStatus.latestBlockHeight) {
      <span>
        {{ 'COMPONENTS.SIDEBAR.SYNC.NOBLOCKS' | translate }}...
      </span>
    }
    <!-- in sync -->
    @if (!showProgressBar) {
      <span>
        {{ helpers.friendlyTimeElapsed(wallet.blockchainStatus.latestBlockTime,dateNow)[0] }}
        {{ helpers.friendlyTimeElapsed(wallet.blockchainStatus.latestBlockTime,dateNow)[1] | translate }}
        {{ 'COMPONENTS.SIDEBAR.SYNC.TIMESINCEBLOCK' | translate }}
      </span>
    }
    <!-- syncing -->
    @if (showProgressBar) {
      <progress max="100" [title]="progressTitle"
      [value]="wallet.blockchainStatus.syncProgresss"></progress>
    }
  </span>
</div>
<div class="wallet-status">
  <fa-icon icon='{{lockStatus.icon}}' class='{{lockStatus.class}}' title='{{lockStatus.title | translate}}'></fa-icon>
  @if (wallet.stakingStatus.enabled) {
    <fa-icon icon='{{stakingStatus.icon}}' class='{{stakingStatus.class}}'
    title='{{stakingStatus.title | translate}}'></fa-icon>
  }
</div>