<div class="titlebar-menu" [ngClass]="{'selected':menuActive}" *ngIf="showWindowsMenu">
    <div class="dropdown" [ngClass]="{'hover':menuHoverIndex==0}" (mouseover)='menuHoverIndex=0'>
        <button class="dropbtn">{{ 'MENU.FILE.TITLE' | translate }}</button>
        <div class="dropdown-content">
            <button (click)="backupWallet()">{{ 'MENU.FILE.BACKUPWALLET' | translate }}</button>
            <button (click)="goToSignMessage()">{{ 'MENU.FILE.SIGNMESSAGE' | translate }}</button>
            <button (click)="goToVerifyMessage()">{{ 'MENU.FILE.VERIFYMESSAGE' | translate }}</button>
            <hr />
            <button (click)="goToOptions()">{{ 'MENU.FILE.OPTIONS' | translate }}</button>
            <button (click)="goToLocale()">{{ 'MENU.FILE.LOCALE' | translate }}</button>
            <button (click)="goToCurrency()">{{ 'MENU.FILE.CURRENCIES' | translate }}</button>
            <hr />
            <button (click)="restartCore()">{{ 'MENU.FILE.RESTARTCORE' | translate }}</button>
            <button (click)="altitudeRefresh()">{{ 'MENU.FILE.ALTITUDEREFRESH' | translate }}</button>
            <hr />
            <button (click)="close()">{{ 'MENU.FILE.EXIT' | translate }}</button>
        </div>
    </div>
    <div class="dropdown" [ngClass]="{'hover':menuHoverIndex==1}" (mouseover)='menuHoverIndex=1'>
        <button class="dropbtn">{{ 'MENU.ENCRYPT.TITLE' | translate }}</button>
        <div class="dropdown-content">
            <button *ngIf="wallet.walletInfo.encryption_status==EncryptionStatus.UNENCRYPTED"
                (click)="encryptWallet()">
                {{ 'MENU.ENCRYPT.ENCRYPT' | translate }}
            </button>
            <button *ngIf="wallet.walletInfo.encryption_status!=EncryptionStatus.UNENCRYPTED"
                (click)="changePassphrase()">
                {{ 'MENU.ENCRYPT.CHANGEPASS' | translate }}
            </button>
            <button *ngIf="wallet.canUnlock()" (click)="unlockWallet()">{{ 'MENU.ENCRYPT.UNLOCK' | translate }}</button>
            <button *ngIf="wallet.canLock()" (click)="lockWallet()">{{ 'MENU.ENCRYPT.LOCK' | translate }}</button>
        </div>
    </div>
    <div class="dropdown" [ngClass]="{'hover':menuHoverIndex==2}" (mouseover)='menuHoverIndex=2'>
        <button class="dropbtn">{{ 'MENU.TOOLS.TITLE' | translate }}</button>
        <div class="dropdown-content">
            <button (click)="goToInformation()">{{ 'MENU.TOOLS.INFORMATION' | translate }}</button>
            <button (click)="goToDebugConsole()">{{ 'MENU.TOOLS.DEBUGCONSOLE' | translate }}</button>
            <button (click)="goToPeersList()">{{ 'MENU.TOOLS.PEERSLIST' | translate }}</button>
            <button (click)="goToWalletRepair()">{{ 'MENU.TOOLS.WALLETREPAIR' | translate }}</button>

        </div>
    </div>
    <div class="dropdown" [ngClass]="{'hover':menuHoverIndex==3}" (mouseover)='menuHoverIndex=3'>
        <button class="dropbtn">{{ 'MENU.HELP.TITLE' | translate }}</button>
        <div class="dropdown-content">
            <button (click)="checkUpdateCore()">{{ 'MENU.HELP.CHECKUPDATECORE' | translate }}</button>
            <button (click)="checkUpdateWallet()">{{ 'MENU.HELP.CHECKUPDATEWALLET' | translate }}</button>
            <hr />
            <button (click)="openIssues()">{{ 'MENU.HELP.ISSUE' | translate }}</button>
            <button (click)="openDiscord()">{{ 'MENU.HELP.DISCORD' | translate }}</button>
            <hr />
            <button (click)="goToAboutCore()">{{ 'MENU.HELP.ABOUTCORE' | translate }}</button>
            <button (click)="goToAboutAltitude()">{{ 'MENU.HELP.ABOUTALTITUDE' | translate }}</button>
        </div>
    </div>
</div>

<div class="titlebar" *ngIf="showWindowsMenu">
    <div class="titlebar-controls">
        <div class="titlebar-minimize" (click)="minimize()">
            <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 4.399V5.5H0V4.399h11z" fill="#fff" /></svg>
        </div>
        <div class="titlebar-resize" (click)="resize()">
            <svg *ngIf="isMaximized" width="11" height="11" viewBox="0 0 11 11" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M11 0v11H0V0h11zM9.899 1.101H1.1V9.9H9.9V1.1z" fill="#fff" />
            </svg>
            <svg *ngIf="!isMaximized" width="11" height="11" viewBox="0 0 11 11" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M11 8.798H8.798V11H0V2.202h2.202V0H11v8.798zm-3.298-5.5h-6.6v6.6h6.6v-6.6zM9.9 1.1H3.298v1.101h5.5v5.5h1.1v-6.6z"
                    fill="#fff" />
            </svg>
        </div>
        <div class="titlebar-close" (click)="close()">
            <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M6.279 5.5L11 10.221l-.779.779L5.5 6.279.779 11 0 10.221 4.721 5.5 0 .779.779 0 5.5 4.721 10.221 0 11 .779 6.279 5.5z"
                    fill="#fff" />
            </svg>
        </div>
    </div>
</div>