@if (showStatusIndicator()) {
  <div class="clienstatus-backdrop">
    <loader rotation="true"></loader>
    @if (!rpc.RPCWarmupMessage) {
      <h3>
        {{ getRPCStatus() | translate }}
      </h3>
    }
    @if (rpc.clientStatus === 8) {
      <div class="progress-border light-grey rounded-bar">
        <div class="progress-bar rounded-bar center" [ngStyle]="
            {'width': downloadProgress(electron.downloadProgress.percent) + '%'}">
          <span class="vertical-align">
            {{downloadProgress(electron.downloadProgress.percent)}}%
          </span>
        </div>
      </div>
    }
    @if (rpc.RPCWarmupMessage) {
      <h3>
        {{ rpc.RPCWarmupMessage }}
      </h3>
    }
  </div>
}