input[type="checkbox" i] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    &+label {
        position: relative;
        cursor: pointer;
        padding: 0;
    }
    &+label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        border-radius: 99px;
        width: 20px;
        height: 20px;
        background: white;
    }
    &:hover+label:before {
        background: $color-primary;
    }
    &:focus+label:before {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }
    &:checked+label:before {
        background: $color-primary;
    }
    &:disabled+label {
        color: #b8b8b8;
        cursor: auto;
    }
    &:disabled+label:before {
        box-shadow: none;
        background: #ddd;
    }
    &:checked+label:after {
        content: '';
        position: absolute;
        left: 5px;
        top: 9px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
        transform: rotate(45deg);
    }
}