.select {
    border: 0 none;
    color: #FFFFFF;
    font-size: 16px;
    padding: 2px 10px;
    background: rgb(37, 1, 37);
}

.option {
    border: 0 none;
    color: #FFFFFF;
    background: rgb(37, 1, 37);
}

.alt-select {
    overflow: hidden;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 1px 1px 11px #330033;
    background: no-repeat scroll 319px 5px rgb(37, 1, 37);
    margin-bottom: 1rem;
}