$color-primary: #CDCDCD;
$color-accent: #BA55D3;
$color-success:#28a745;
$color-danger:#dc3545;
$color-warning:#ffc107;
$font-primary:#CDCDCD;
$font-dark:rgb(10, 10, 10);
$background-primary:#250125;
$background-accent:rgb(10, 10, 10);
$content-background:#101010;

$sidebar-width:210px;
$appbar-width:60px;
$sidebar-padding:($sidebar-width+$appbar-width);