$color-primary: #CDCDCD;
$color-accent: #BA55D3;
$color-success:#28a745;
$color-danger:#dc3545;
$font-primary:#CDCDCD;
$background-primary:#250125;
$background-accent:rgb(10, 10, 10);

$sidebar-padding:310px;